* {
    margin: 0;
    padding: 0;
}

#mealsHolder {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.mealImage {
    width: 300px;
}

#popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
}

#innerPopup {
    margin-top: 20px;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
}

#cocktailImage {
    width: 200px;
    height: auto;
}

hr {
    margin: 20px 0;
}